<div class="ps-dinamic-overlay">
    <link rel="stylesheet" href="//static.cinepolis.com/cortinillas/15/cortinilla-it-1-2/css/generales.css">
    <article id="takeover" class="o-takeover anima" style="display: block;">
        <div class="o-takeover__wrapper">
            <div class="o-takeover__inner">
                <a [routerLink]="['/heroes']" id="takeover-link" target="_black" class="o-takeover__content">
                    <div id="takeover-close" class="o-takeover__close"></div>
                    <div class="tk">
                        <div class="tk_lf">
                            <figure class="movie-info"> <img src="//static.cinepolis.com/cortinillas/15/cortinilla-it-1-2/imagenes/img-info-it1.png"> </figure>
                            <figure class="movie-tt"> <img src="//static.cinepolis.com/cortinillas/15/cortinilla-it-1-2/imagenes/img-tt-it1.png"> </figure>
                        </div>
                        <div class="tk_rg">
                            <figure class="movie-info"> <img src="//static.cinepolis.com/cortinillas/15/cortinilla-it-1-2/imagenes/img-info-it2.png"> </figure>
                            <figure class="movie-tt"> <img src="//static.cinepolis.com/cortinillas/15/cortinilla-it-1-2/imagenes/img-tt-it2.png"> </figure>
                        </div>
                        <div class="ballons">
                            <figure class="ballon__3"><img src="//static.cinepolis.com/cortinillas/15/cortinilla-it-1-2/imagenes/img-red-ballon.png"></figure>
                            <figure class="ballon__1"><img src="//static.cinepolis.com/cortinillas/15/cortinilla-it-1-2/imagenes/img-red-ballon.png"></figure>
                            <figure class="ballon__2"><img src="//static.cinepolis.com/cortinillas/15/cortinilla-it-1-2/imagenes/img-red-ballon.png"></figure>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </article>
</div>

<div class="jumbotron jumbotron-fluid animated  lightSpeedIn" style="color:rgb(255, 255, 255); background-color: rgb(218, 189, 29);">
    <div class="container">
        <h1 class="display-4">Payasos App</h1>
        <p class="lead">Esta es una aplicación de payasos.</p>
    </div>
</div>